.App {
  text-align: center;
  background-color: rgb(237, 244, 254);
  size: auto;
  height: auto;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgb(178, 209, 178);
  padding: 1%;
}
.row {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.rowDetails {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.rowDelete {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: left;
}

.author {
  display: flex;
  flex-direction: left;
}

.rows {
  display: flex;
  flex-direction: column;
}

.addButton {
  color: #000;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.listHeader {
  display: flex;
  justify-content: right;
  margin: 10px;
}

.modalContent {
  background: white;
  margin: auto;
  padding: 2%;
  border: 2px solid #000;
}

.modal {
  position: fixed;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  display: flex;
}

.modalLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modalElement {
  margin: 2%;
}

.link {
  color: #000;
  text-decoration: none;
}

.bookCover {
  width: 20%;
  margin-left: 10%;
}

.bookDetails {
  width: 20%
}
